.container {
  background-color: var(--gray);
}

.main {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main .top,
.main .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title,
.temp {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 400;
}

.temp {
  line-height: 1;
  font-size: 12rem;
}

.temp .unit {
  font-size: 2rem;
  margin-block-start: 1.5rem;
}

.temp {
  display: flex;
  align-items: flex-start;
}

.location {
  background-color: transparent;
  height: 3rem;
  padding: 0 2em;
  border: 3px solid #000;
  border-radius: 2rem;
  font-weight: 500;
}
